.sidebar {
    width: 19%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    background-color: black;
    border-right: 1px solid grey;
    padding-left: 30px;
    /* border: 1px solid rgb(255, 0, 0); */
    position: fixed;

}
.more{
    margin-top: 40px;
    
}
.bi{
    margin-top: -10px;
}
.bis{
    padding-right: 12px;
}